@mixin calendarLayout {
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  padding: 16px;
  position: relative;
  width: 312px;
  box-shadow: rgb(34 34 34 / 10%) 0px 0px 14px 3px;

  @media (max-width: 312px) {
    padding: 10px 0;
  }
}

@mixin calendarCloseButton {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

@mixin calendarTitle {
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  color: var(--textGray);
}

@mixin calendarGrid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  margin-top: 16px;
}

@mixin calendarDayName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 1px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  outline: none;
  user-select: none;
  color: var(--textGray);
  width: 40px;
  height: 40px;

  &.sunday {
    color: var(--red);
  }
}

@mixin calendarDay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 1px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  user-select: none;
  color: var(--textGray);
  border: 1px solid transparent;
  min-width: 40px;
  min-height: 40px;

  &.sunday {
    color: var(--red);
  }

  &:hover {
    background-color: var(--skyblue);
  }

  &:active {
    border-color: var(--blue);
    transition: 0.25s ease;
  }

  &:focus-visible {
    color: var(--gray400);
    outline: 1px solid var(--gray400);
  }

  &.selected {
    color: var(--blue);
    border-color: var(--blue);

    &:focus-visible {
      outline: none;
    }
  }

  &:disabled {
    cursor: default;
    color: var(--gray200);
    border-color: transparent;
    background-color: #fff;
  }
}
