:root {
  --background: #f8f8f8;
  --blue: #2c7fff;
  --skyblue: #e6f4ff;
  --red: #ff0000;
  --text-dark: #444;
  --text-gray: #585858;
  --gray-100: #f2f2f2;
  --gray-200: #dadada;
  --gray-300: #b5b5b5;
  --gray-400: #444;
}

@mixin calendar-layout {
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  padding: 16px;
  position: relative;
  max-width: 312px;
  box-shadow: rgb(34 34 34 / 10%) 0px 0px 14px 3px;

  @media (max-width: 312px) {
    padding: 10px 0;
  }
}

@mixin close-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

@mixin title {
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  user-select: none;
  color: var(--text-gray);
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  margin-top: 16px;
}

@mixin day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 1px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  outline: none;
  user-select: none;
  color: var(--text-dark);
  width: 40px;
  height: 40px;

  &.sunday {
    color: var(--red);
  }
}

@mixin day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 1px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  user-select: none;
  color: var(--text-gray);
  border: 1px solid transparent;
  min-width: 40px;
  min-height: 40px;

  &.sunday {
    color: var(--red);
  }

  &:hover {
    border: 1px solid var(--gray-400);
  }

  &:active {
    border: 1px solid var(--gray-400);
    transition: 0.25s ease;
  }

  &:focus-visible {
    color: var(--gray-400);
    outline: 1px solid var(--gray-400);
  }

  &.selected {
    color: var(--blue);
    border-color: var(--blue);

    &:focus-visible {
      outline: none;
    }
  }

  &:disabled {
    cursor: default;
    color: var(--gray-200);
    border-color: transparent;
  }
}
