/*
  https://www.joshwcomeau.com/css/custom-css-reset/
  https://css-tricks.com/an-interview-with-elad-shechter-on-the-new-css-reset/
  https://elad2412.github.io/the-new-css-reset/
*/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

a,
button {
  cursor: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
menu {
  list-style: none;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

#root,
article,
div,
footer,
header,
main,
nav,
section {
  display: flex;
  flex-direction: column;
}

html,
body {
  width: 100%;
}

/* The isolation CSS property determines whether an element must create a new stacking context. */
#root {
  isolation: isolate;
}

/* Clip overflow text */
p,
span,
a {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: keep-all;
  word-wrap: break-word;
}

/* default header styles */
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

:root {
  --background: #f8f8f8;
  --blue: #2c7fff;
  --skyblue: #e6f4ff;
  --red: #ff0000;
  --text-dark: #444;
  --text-light: #444;
  --gray-100: #f2f2f2;
  --gray-200: #dadada;
  --gray-300: #b5b5b5;
  --gray-400: #444;
}
