@import '../styles/calendar.scss';

.box {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

figure figcaption h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.datepicker__input-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.demo__input {
  border: 1px solid var(--gray-200);
  width: 250px;
  padding: 10px;
  cursor: text;
  border-radius: 4px;

  &::placeholder {
    color: var(--gray-300);
  }
}
